.pointsInputWrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
}


.heroImg{
  width: 75px;
  height: 75px;
  margin: 0px;
  padding: 0px;
}

.inputText {
  font-size: 1.5rem;
}

@media (max-width: 767px) {
  .headerText {
    display: none;
  }
}

@media (max-width: 767px) {
  .inputText {
    font-size: 1rem;
  }
}